@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Rem-Reset :  */
  font-size: 62.5%;
  /* Variables :  */
  --primarylight-clr: #FBF7F7;
  --secondarylight-clr: #F1E9E3;
  --primaryaccent-clr: #DC4712;
  --secondaryaccent-clr: #EE712B;
  
  --primary-font : "Roboto" , Arial , Helvetica , sans-serif;
  --accent-font: "Hammersmith One" , tahoma , Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--primarylight-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--primarylight-clr);
  border-bottom: 3px solid var(--secondaryaccent-clr);
  z-index: 100;
}

.heading {
  font-family: var(--accent-font);
  font-size: 3rem;
  color: var(--primaryaccent-clr);
}

.navbar {
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  text-wrap: nowrap;
}

.main {
  /* margin-block: auto; */
  padding-top: 12rem;
  width: 100%;
}

.cta {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  min-height: calc(100vh - 12rem);
  gap: 2rem;
}

.cta__content {
  width: 100%;
  display: flex;
  gap: 6rem;
  flex-direction: column;
  font-family: var(--primary-font);
}

.cta__text {
  position: relative;
  padding-left: 5rem;
  padding-bottom: 5rem;
}

.cta__text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: var(--secondaryaccent-clr);
}

.cta__title {
  font-family: var(--accent-font);
  font-size: clamp( 3rem , 5vw , 8rem);
  transform: translateY(-.33em);
}

.cta__desc,
.cta__buttons,
.cta__button {
  font-size: 2rem;
  color: var(--primaryaccent-clr);
}

.cta__buttons {
  padding-left: 5rem;
  display: flex;
  gap: 2rem;
  text-align: center;
}

.cta__button {
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 100px;
  box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.472);
  /* font-size: clamp( 1.5rem , 2vw , 2rem); */
}

.cta__button--active {
  background-color: var(--primaryaccent-clr);
  color: var(--primarylight-clr);
}

.cta__img {
  width: 100%;
  max-width: 52rem;
  transform: translateX(50%) scale(1.4);
  margin-top: 5rem;
}

@media screen and (max-width: 915px) {

  .main {
    padding-top: 0;
  }

  .header {
    justify-content: space-around;
  }

  .navbar {
    display: none;
  }

  .cta {
    flex-direction: column-reverse;
    padding-block: 1rem;
  }

  .cta__content {
    gap: 0;
  }
  
  .cta__buttons {
    flex-direction: column;
  }

  .cta__img {
    max-width: 50rem;
    width: 100%;
    transform: none;
  }
}